= toggle_button_for "#{scope}[active]", model.active

= link_to '#active-by-segment', data: { active_by_segment_tooltip: '' } do
  - haml_tag_if model.active_by_segment.present?, :strong do
    = t('workarea.admin.shared.active_field.by_segment', count: model.active_by_segment.size)

#active-by-segment.tooltip-content
  %h3= t('workarea.admin.shared.active_field.active_by_segment')
  %p= t('workarea.admin.shared.active_field.description_html', segments_path: segments_path)

  .property
    = label_tag "#{scope}_active_segment_ids", t('workarea.admin.fields.active_segments'), class: 'property__name'
    = select_tag "#{scope}[active_segment_ids]", options_from_collection_for_select(segments, :id, :name, model.active_segment_ids), multiple: true, data: { select_two: { placeholder: t('workarea.admin.shared.active_field.select_segments'), allowClear: true, dropdownParentSelector: '#active-by-segment' } }

  .property
    = label_tag "#{scope}_inactive_segment_ids", t('workarea.admin.fields.inactive_segments'), class: 'property__name'
    = select_tag "#{scope}[inactive_segment_ids]", options_from_collection_for_select(segments, :id, :name, model.inactive_segment_ids), multiple: true, data: { select_two: { placeholder: t('workarea.admin.shared.active_field.select_segments'), allowClear: true, dropdownParentSelector: '#active-by-segment' } }
