= toggle_button_for "#{scope}[active]", model.active

= link_to '#active-by-segment', data: { active_by_segment_tooltip: '' } do
  - haml_tag_if model.active_by_segment.present?, :strong do
    = t('workarea.admin.shared.active_field.by_segment', count: model.active_by_segment.size)

#active-by-segment.tooltip-content
  %h3= t('workarea.admin.shared.active_field.active_by_segment')
  %p= t('workarea.admin.shared.active_field.description')

  %table
    %tbody
      - segments.each do |segment|
        %tr
          %td= link_to segment.name, segment
          %td= select_tag "#{scope}[active_by_segment][#{segment.id}]", options_for_select(active_by_segment_options, model.active_by_segment[segment.id.to_s])
